server:
  port: 8081
  servlet:
    context-path: /

spring:
  application:
    name: auth-service
  security:
    user:
      name: null
      password: null

jwt:
  secret: your-very-secret-key-change-in-production-this-must-be-at-least-512-bits-or-64-bytes-long-make-it-very-long-1234567890abcdefghijklmnopqrstuvwxyz
  expiration: 86400000

logging:
  level:
    root: INFO
    com.universite.auth: DEBUG
    org.springframework.security: DEBUG
